<div class="flex flex-wrap justify-center pt-5 pb-5">
  <ng-container *ngFor="let shimmer of shimmers">
    <div class="w-[250px] h-[375px] relative m-[10px] rounded-[10px] overflow-hidden bg-[length:200%] animated light">
      <div class="absolute bottom-0 left-0 right-0 p-5 w-[80%]">
        <p class='h-[7px] rounded-[3px] my-1 bg-[length:200%] animated light w-[80%]'></p>
        <p class='h-[7px] rounded-[3px] my-1 bg-[length:200%] animated light w-[80%]'></p>
        <p class='h-[7px] rounded-[3px] my-1 bg-[length:200%] animated light w-[80%]'></p>
      </div>
    </div>
  </ng-container>
</div>